__pycache__/
*.py[cod]

.DS_Store
.old/
.env
.env.*
*.local
*.log
.python-version
cli.tests.sh
madsql-user-overview.oracle.pdf
madsql-user-guide.md
madsql-user-overview.md

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl
*.tar.gz

.pytest_cache/
.coverage
.coverage.*
.hypothesis/
htmlcov/
.mypy_cache/
.nox/
.ruff_cache/
.tox/
.venv/
.idea/
.vscode/
examples/output/
/local_push_release.sh
